
#timeDate {
    text-align: right;
    -webkit-text-fill-color: aliceblue;
}

#taskManager {
    text-align: center;
    color: white;

}


/* #nameError {
    display: none;
    font-size: 0.8em;
  }
  
  #nameError.visible {
    display: block;
  }
  
  input.invalid {
    border-color: red;
  } */